/**
/ This file will contain css rules to apply to large landscape screens (desktops)
*/

@media (min-width: 1101px){
    /*  CSS for desktops  */
    .container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: minmax(20px, auto);
        margin: 0 30px;
        justify-content: center;
    }

    .header{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .navBar{
        grid-column: 1/3;
        grid-row: 2/3;

        border-right: none;
        padding: 0 10px;
        flex-direction: row;
    }

    .emptyGridBlock{
        grid-row: 2/3;
        grid-column: 2/3;
        background: black;
        border-right: #55d6aa solid 1px;
    }

    .navBarItem{
        width: fit-content;
        padding: 5px;
        margin: 10px;
        border-bottom: #55d6aa 1px solid;
    }

    .content{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .sideBar{
        grid-column: 2/3;
        grid-row: 3/4;

        display: block;
        background: #e8e8e8;
        border-right: #55d6aa 1px solid;
        border-left: black solid 20px;
    }

    .sideBarContent{
        background: #ffffff;
        color: #222222;

        margin: 15px;
        padding: 10px;
        line-height: 2em;
    }

    .footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }
}