/*sign in code*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: red;
    --register-button-color: #5e85eb;
    --primary-color: #55d6aa;
}

.navBerWrapper{
    grid-column: auto / span 2; /* Need navBar and main content to span two columns as this page doesn't have side bar or signUp link */
}

.signUpContent{
    grid-column: auto / span 2;
    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#signUpCard{
    border-radius: 5px;
    width: 400px;
}

.form{
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}

.form-control{
    margin-bottom: 10px;
    padding: 0 20px 20px 0;
    position: relative;
    /*    To make a child element absolute, the parent element has to be relative. */
}

.form-control label{
    color: #777;
    display: block; /* Labels are display inline by default, display block puts them on a new line */
    margin-bottom: 5px;
}

.form-control input{
    border: solid 2px #f0f0f0; /* border around input fields */
    border-radius: 4px;
    display: block; /* Puts input things on a new line  */
    width: 99%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline: 0;
    border-color: var(--primary-color);
}

.form-control.error input{
    border-color:  var(--error-color);
}

.form-control.success input{
    border-color:  var(--success-color);
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    /*bottom: 0;*/
    /*left: 0;*/
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}